.profile-header{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.image-and-info{
  display: flex;
}
.profile-header *{
  color: #555B6E;
  padding-bottom: 5px;
}
.user-info-under-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
}
.profile-top{
  margin-left: 40px !important;
  margin-right: 40px !important;
  display: flex;
  align-content: center;
  justify-content: center;
}
#profile-loader{
  margin-top: 40px;
}
#temp-div{
  height: 700px;
}
.profile-img{
margin-left: 60px;
margin-right: 10px;
align-self: center;
width: 130px;
height: 130px;
border-radius: 50%;
border: 1px solid #555B6E;
box-shadow: 0px 5px 5px 5px rgba(162, 162, 162, 0.262);
}
.acquaintance-box{
  display: flex;
  align-content: center;
  justify-content: center;
}
.acquaintance-logo{
  margin-left: 10px;
  margin-top: 10px;
  width: 140px;
  height: 60px;
  align-self: center;
}
.profile-column{
  display: flex;
  flex-direction: column;
}
.editButton{
  align-self: center;
  margin-left: 10%;
  background-color: #FF934F;
  color: #555B6E;
}
.editButton:hover{
  align-self: center;
  margin-left: 10%;
  background-color: #555B6E;
  color: #FF934F;
}
.profile-tabs{
  margin-bottom: 20px;
}
.buttons{
  display: flex;
  align-self: center;
  margin-top: 15%;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}
.buttons *{
  margin-right: 5%;
}
.user-info-profile-header{
  margin-right: 0px !important;
}
.all-profile-info{
  display: flex;
  flex-direction: column;
}
.image-info-map{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .profile-top {
    margin-left: 40px !important;
    margin-right: 40px !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .image-and-info{
    display: flex;
    justify-content: center;
    align-content: center;
  }
}