.profile-header{
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.image-and-info{
  display: flex;
}
.profile-header *{
  color: #555B6E;
  padding-bottom: 5px;
}
.user-info-under-name{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.profile-img{

margin-right: 30px;
align-self: center;
width: 130px;
height: 130px;
border-radius: 50%;
border: 1px solid #555B6E;
box-shadow: 0px 5px 5px 5px rgba(162, 162, 162, 0.262);
}
.acquaintance-box{
  display: flex;
  align-content: center;
}
.acquaintance-logo{
  margin-left: 10px;
  margin-top: 10px;
  width: 140px;
  height: 60px;
  align-self: center;
}
.editButton{
  align-self: center;
  margin-left: 10%;
  background-color: #FF934F;
  color: #555B6E;
}
.editButton:hover{
  align-self: center;
  margin-left: 10%;
  background-color: #555B6E;
  color: #FF934F;
}
.profile-tabs{
  margin-bottom: 20px;
}
.buttons{
  display: flex;
  align-self: center;
  justify-content: center;
}
.user-info-profile-header{
  margin-right: 0px !important;
}
.all-profile-info{
  display: flex;
  flex-direction: column;
}
.image-info-map{
  display: flex;
}