#homepage-header{
  background-image: url('/images/city2.jpg');
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center; 
  filter: blur(3px);
  position: absolute;
}
#header-content{
  background-color: rgba(255, 255, 255, 0.516);
  position: absolute;
  color: #555B6E;
  /* left: 50%;
  top: 50%;
  margin-left: -25%;*/
  margin-top: 10%; 
  margin-left: 25%;
  z-index: 20;
  width: 50%;
  padding: 10px 20px;

}
.card img{
  height: 230px !important;
}
div.aboutus-cards{
  height: 400px !important;
  max-height: 400px !important;
}
#header-content *{
  margin-top: 0;
  color: #555B6E;
}
.about-acquainted{
  padding-top: 520px;
}
#header-text{
  border-bottom: 2px solid rgba(135, 189, 222, 0.735);
  padding-bottom: 20px;
}
